*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #3b2b34, #51444f, #675e6b, #7d7987, #9596a4, #98a0ad, #9caab4, #a2b3ba, #97aaab, #90a19b, #8c968c, #8a8b7f);
  font-family: Arial, Helvetica, sans-serif;
}


